/* App.css */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #697565; /* Linear gradient from right to left with teal */
}
